.ftitulo{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    min-height: 66vh;   
    width: 100vw;
    margin-bottom: 1em;
}    
.ftituloe{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: red;  
    width: 100vw;
    min-height: 66vh;
    margin-bottom: 1em;
    margin-top: 1em;
}  
.minw{
    min-width: 15em;
}
.img-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}