.purchase{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    justify-content:center;
    align-items: center;
    margin-top:1em;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,89,143,1) 63%, rgba(0,212,255,1) 100%); */
    color: black;
    height: auto;   
    width: 100vw;
} 
.minw{
    min-width: 15em;
}  
.mainbton{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.bton{
    margin-right: 3em;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 15em;
}