.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
    margin-top: 1rem;
    min-height: 60vh;
}
.photo{
    display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        flex-direction: column;
        width: 100%;
}
.namephoto{
    font-size:40px;
    font-weight: bolder;
}
.welcomeProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight:bold;
    color:aliceblue;
}
.buttonProfile{
    margin-top:20px;
    margin-right: 20px;
}
.logoutButton{
    display: flex;
    justify-content: flex-end;
    width: 2em;
    height: 2em;
    color: white;
    margin-top: 1em;
    border-radius: 1em;
    cursor:pointer;
}
.imgLogout{
    margin-left: 20px;
}
.imgAdjust{
    width: 30px;
    height: 30px; 
}
.cutrefoto{
    border-radius: 50%;
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
}
.profile-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-x{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 55.79px;
}

@media (max-width:768px){
    .welcomeProfile{
        padding: 0;
        margin: 0;
    }
    .nav-Profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logoutButton{
        display: flex;
        justify-content: flex-end;
    }
    .cutrefoto{
        border-radius: 50%;
        min-width: 0;
        min-height: 0;
        width: 200px;
        height: 200px;
    }
    .buttonProfile{
        display: flex;
        margin-top:20px;
        min-height: 20px;
        height: 100%;
    }
    .adjust-data{
        display: flex;
        justify-content: flex-end;
    }
}

