.Productcard {
    padding: 1em;
    margin: 1em;
    background-color: #e6aa13;
    border-radius: 1em;
    border: .2em solid black;
    width: 20em;
    height: 20em;
}
.ntitulo{
    font-size: 1.8em;
}
.products{
    height: 26em;
    width: 20em;
    padding: 1em;
}