.foto{
    height: 10em;
}

.card-global{
    margin-bottom: 1em;
    min-width: 15em;
    max-width: 15em;
    min-height: 26em;
}
.purchase{
    color:red;
}
.g-4{
    min-width: 15em;
}
.card-cont{
    min-width: 15em;
    max-width: 15em;
}
.fotocompra{
    width: 2em;
    height: 4em;
}
.cardcompra{
    all:unset;
    width: 10em;
}
.card-globalc{
    all:unset;
}