/* .foto{
    height: 10em;
}

.purchase{
    color:red;
}
.minw{
    padding-right: 0;
}
.g-4{
    min-width: 15em;
}
.card-cont{
    width: 20rem;
    height: 20rem;
}
.fotocompra{
    width: 2em;
    height: 4em;
}
.cardcompra{
    all:unset;
    width: 10em;
}
.card-globalc{
    all:unset;
}

.row>* {
    padding: 0;
    margin: 0;
}
.img-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-global{
    border: unset;
    margin-bottom: 1em;
    padding: 0;
}
.card-body{
    padding: 0;
}
.card {
    padding: 0;
} */

.card-img-top{
    height: 200px;
    object-fit: cover;
    margin-top: 1rem;
}
.card-title{
    min-height: 48px;
}
.card-text{
    display: flex;
    gap: 1rem;
}
.color{
   padding: 0;
   margin: 0;
}
.row>*, .col>* {
    padding: 0;
    margin: 0;
}
.btn{
    margin-top: 1rem;
}
.tarjeta{
    width: 18rem;
}
