.register{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(104, 73, 230);
    color: black;
    height: auto;   
    width: 100vw;
}    
.buttonr{
    margin-bottom: 1em;
    width: 7em;
    height: 2.5em;
}
.msgIsError{
    color: red;
}
.mb-3{
    width: 17em;
}
