.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.photoSettings{
    border-radius: 50%;
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
}
.inputProfile{
    width: 100px;
}
.inputProfileForm{
    max-width: 500px;
}
.buttonSett{
    margin-right: 50px;
}
.btn{
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    .photoSettings{
        border-radius: 50%;
        margin-bottom: 5em;
        min-width: 0;
        min-height: 0;
        width: 200px;
        height: 200px;
    }
    .btn{
        margin-bottom: 1rem;
    }
}