.header{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: blue;
    color:white;
    height: 8em;
    width: 100vw;
}
.navMenu{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    color: white;
    height: 6em;
    width: auto;
}
.submenu{
    color: white;
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: auto;    
}
.navlink{
    all: unset;
    font-size: 1.7em;
    cursor:pointer;
}
.navlink:hover{
    color:red;
}

.logo{
    width: 10em;
    height: 10em;
}
.listInput{
    height: 2em;
}
.carrito{
    height: 3em;
    width: 3em;
}
.login{
    height: 3em;
    width: 3em;
    background-color: blue;
}
.login:hover{
    height: 3.5em;
    width: 3.5em;
    transition: 1s;
}
.navlinkp{
    all:unset;
    font-size: 1.6em;
    cursor:pointer;
    
}
.navlinkp:hover{
    color:red;
}
.carrito:hover{
    height: 3.5em;
    width: 3.5em;
    transition: 1s;
}