.male{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,89,143,1) 63%, rgba(0,212,255,1) 100%); */
    color: black;
    height: auto;   
    width: 100vw;
}   
.minw{
    min-width: 15em;
} 

@media (max-width : 360px){
    .minw{
        min-width: 0;
    }
}