.male{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(169, 185, 244);
    color: black;
    height: auto;   
    width: 100vw;
}   
.minw{
    min-width: 15em;
} 